@charset "utf-8";

/* *{ 
    outline: 2px solid red;
} */

body{
    background-color: #FDFCFA;
}

#header{
    height: 650px;
    background-image: url(../image/2x/main@2x-100.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

#header_p{
    height: 300px;
    width: 100%;
}

.header__inner{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 70px;
    position: absolute;
    top: 65px;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
}

.header__inner_p{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 70px;
    position: absolute;
    top: 65px;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
}

.header__inner nav{
    width: 100%;
    max-width: 570px;
}

.header__inner_p nav{
    width: 100%;
    max-width: 570px;
}

.header__inner nav ul{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.header__inner_p nav ul{
    display: flex;
    justify-content: space-between;
    gap: 9%;
}

.header__inner nav li{
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 16px;
    color: #2e1911;
    line-height: 1.5;
    text-align: center;
}

.header__inner_p nav li{
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 16px;
    color: #2e1911;
    line-height: 1.5;
    text-align: center;
}

.header__inner span{
    font-size: 11px;
    color: #6d5e58;
}

.header__inner_p span{
    font-size: 11px;
    color: #6d5e58;
}

.logo img{
    width:  64px;
}

.concept_wrap{
    max-width: 1080px;
    margin: 0 auto;
}

#concept h1 {
    font-size: 23px;
    line-height: 1.521;
    letter-spacing: 0.43em;
    -webkit-writing-mode: vertical-rl;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    width: 153px;
    height: 385px;
    padding: 76px 40px 76px 51px;
    background-color: #fff;
    top: 527px;
    right: 7%;
}

.concept_text2 {
    font-size: 14px;
    line-height: 5.214;
    letter-spacing: 0.54em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    margin-top: 60px;
}

@media screen and (max-width:1000px){
    .concept_text2 {
        line-height: 4.5;
        margin: 60px auto;
        padding-right: 150px;
}
}

@media screen and (max-width:900px){
    .concept_text2 {
        line-height: 3.5;
}
}

.concept_logo {
    padding-top: 280px;
    text-align: center;
    padding-bottom: 150px;
}

.concept_logo img{
    width: 65px;
}

#about{
    width: 100%;
    height: 766px;
    background-color: #EBE2CA;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.about_haikei{
    width: 100%;
    height: 103px;
    background-image: url(../image/2x/about_img1@2x.png);
    background-size: cover;
    position: relative;
}

.about_wrap{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 90px;
    display: flex;
    align-items: center;
}

.about_textarea{
    width: 1080px;
}
.about_title{
    box-sizing: border-box;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 12px;
    color: #2e1911;
    border-left-width: 16px;
    border-left-style: solid;
    border-radius: 8px 8px 0 0;
}

.about_title span{
    font-size: 16px;
}

.about_text{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 2.785;
    padding-left: 27px;
}

.viewmore{
    width: 188px;
    height: 39px;
    line-height: 39px;
    border: #6d5e58 solid 1px;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-align: center;
    position: relative;
}

.viewmore::before{
    position: absolute;
    content: "";
    width: 111px;
    height: 1px;
    background-color: #2e1911;
    top: 50%;
    right: -95px;
}

.viewmore::after{
    position: absolute;
    content: "";
    width: 14px;
    height: 1px;
    background-color: #2e1911;
    transform: rotate(45deg);
    top: 14px;
    right: -95px;
}

.about_img{
    width: 452px;
    margin-top: 90px;
}

#works{
    width: 100%;
    height: 709px;
    background-image: url(../image/2x/works_haikei@2x.png);
    background-size: cover;
    position: relative;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.works_wrap{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 90px;
    align-items: center;
}

.works_title{
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 12px;
    color: #2e1911;
    border-left-width: 16px;
    border-left-style: solid;
    border-radius: 8px 8px 0 0;
}

.works_title span{
    font-size: 16px;
}

.works_img{
    padding: 90px 0 90px 0;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    
}

.works_img img{
    width: 310px;
}

.works_v{
    width: 188px;
    height: 39px;
    line-height: 39px;
    border: #6d5e58 solid 1px;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-align: center;
    margin-left: 500px;
}

#skills{
    width: 100%;
    height: 768px;
    background-color: #EBE2CA;
    align-items: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.skills_wrap{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 90px;
}


.skills_title{
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 12px;
    color: #2e1911;
    border-left-width: 16px;
    border-left-style: solid;
    border-radius: 8px 8px 0 0;
}

.skills_title span{
    font-size: 16px;
}

.skills{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 16px;
    gap: 5%;
}

.skill_web{
    width: 310px;
    text-align: center;
}
.skill_web img{
    width: 115px;
    height: 115px;
    margin-bottom: 30px;
}

.skill_pc{
    width: 310px;
    text-align: center;
}
.skill_pc img{
    width: 160px;
    height: 115px;
    margin-bottom: 30px;
}

.skill_ear{
    width: 310px;
    text-align: center;
}
.skill_ear img{
    width: 115px;
    height: 115px;
    padding-right: 54px;
    margin-bottom: 30px;
}

.skill_title2{
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin-bottom: 10px;
}

.skill_text{
    font-size: 14px;
    line-height: 1.857;
    text-align: start;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin-bottom: 15px;
}

#contact{
    width: 100%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.contact_wrap{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 120px;
}

.contact_content{
    margin-top: 118px;
    text-align: center;
    margin-bottom: 150px;
}

.contact_title{
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 12px;
    color: #2e1911;
    border-left-width: 16px;
    border-left-style: solid;
    border-radius: 8px 8px 0 0;
}

.contact_title span{
    font-size: 16px;
}

#contact img{
    width: 103px;
    margin-bottom: 40px;
}

.contact_text{
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.contact_box{
    width: 250px;
    height: 49px;
    background-color: #f7f2e6;
    margin: 0 auto;
    font-size: 15px;
    line-height: 49px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    border-radius: 3px 3px 3px 3px;
    margin-top: 20px;
}

#fotter{
    width: 100%;
    height: 268px;
    background-image: url(../image/2x/fotter_haikei@2x.png);
    background-size: cover;
    position: relative;
}


.fotter_menu{
    margin: 0 auto;
    max-width: 564px;
    padding-top: 90px;
}

.fotter_menu ul{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.fotter_menu li{
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;   
}

.fotter_menu p{
    font-size: 10px;
    margin-top: 120px;
    text-align:center;
}


.concept_inner{
    max-width: 1080px;
    margin: 0 auto;
}

.concept_title{
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 12px;
    color: #2e1911;
    border-left-width: 16px;
    border-left-style: solid;
    border-radius: 8px 8px 0 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.concept_title span{
    font-size: 16px;
}

.concept_wrap1{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
    padding-left: 252px;
    margin-bottom: 200px;
    gap: 5%;
}

.concept_main{
    width: 45%;
}

.concept_main img{
    width: 336px;
}

.concept_text h2{
    font-size: 24px;
    line-height: 1.730;
    letter-spacing: 0.045em;
    font-family:"游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    ;
}

.concept_text p{
    font-size: 14px;
    line-height: 1.928;
    letter-spacing: 0.01em;    
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.concept_wrap2{
    height: 666px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #EBE2CA;
    margin-bottom: 200px;
}

.concept_main2{
    width: 40%;
    margin-left: auto;
}

.concept_main2 img{
    object-fit: cover;
    height: 666px;
}

.concept_text3 h3{
    width: 397px;
    font-size: 24px;
    font-family:"游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    ;
}

.concept_text3 {
    width: 60%;   
    text-align: center;
}

.concept_text3 >div{
    display: inline-block;
    text-align: left;
}

.concept_text3 p{
    width: 397px;
    font-size: 14px;
    line-height: 1.928;
    letter-spacing: 0.01em;    
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.profile_img {
    width: 400px;
    margin-left: 30px;
}

.profile_img img{
    width: 319px;
}


.profile_wrap{
    padding-top: 90px;
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.profile_text{
    width: 680px;
}

.profile_text h2{
    font-size: 30px;
    font-family:"游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
    display:flex;
    letter-spacing: 0.03em;
    padding-bottom: 1%;
}

.profile_text h3{
    font-size: 20px;
    font-family:"游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
}

.profile_text p{
    font-size: 14px;
    line-height: 2.5;    
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

#career{
    margin-top: 90px;
}

.career_inner{
    max-width: 1080px;
    margin: 0 auto;
}

.career_title{
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 12px;
    color: #2e1911;
    border-left-width: 16px;
    border-left-style: solid;
    border-radius: 8px 8px 0 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.career_title span{
    font-size: 16px;
}

.career_img{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 90px;
}


#vision{
    margin-top: 90px;
}

.vision_inner{
    max-width: 1080px;
    margin: 0 auto;
}

.vision_title{
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 12px;
    color: #2e1911;
    border-left-width: 16px;
    border-left-style: solid;
    border-radius: 8px 8px 0 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.vision_title span{
    font-size: 16px;
}

.vision_wrap{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 90px;
    display: flex;
}

.vision_text{
    width: 688px;
    font-size: 14px;
    line-height: 2.5;
    padding-left: 27px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.vision_img{
    width: 645px;
    height: 638px;
}

#workspage{
    width: 100%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.workspage_menu{
    display: flex;
    text-align: right;
    position: absolute;
    right: 0;
    top: 129px;
    gap: 20px;
}

.workspage_wrap{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 90px;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
}

.workspage_img{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 5%;
    padding-top: 90px;
}

.works_content{
    width:calc(100%/3);
    flex-basis: 30%;
    margin-bottom: 30px;
    }

.works_content p{
    font-size: 18px;
    line-height: 1.333;
    margin-top: 5px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.works_content span{
    font-size: 13px;
    line-height: 1.333;
    color: #968c88;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;   
}

.contact_text{
    text-align: center;
    line-height: 2.222;
    letter-spacing: 0.1em;
    font-size: 18px;
    margin-top: 40px;
}

.Form {
    margin: 50px 0 200px 0;
    text-align: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;   
}

.Form-Item {
    padding-bottom: 24px;
    width: 100%;
}

.Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
    width: 100%;
    letter-spacing: 0.1em;
    font-size: 14px;
    text-align: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;   
    padding-bottom: 9px;
}

.Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}

.Form-Item-Input {
    border: 0px;
    border-radius: 3px;
    height: 40px;
    text-align: left;
    width: 617px;
    background: #e5dcc4;
    font-size: 14px;
}

.Form-Item-Textarea {
    border: 0px;
    border-radius: 3px;
    height: 216px;
    text-align: center;
    width: 617px;
    background: #e5dcc4;
    font-size: 18px;
}

input[type="checkbox"] {
    margin-top: 20px;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    vertical-align: -5px;
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
}
input[type="checkbox"]:checked:before {
    position: absolute;
    top: 1px;
    left: 4px;
    transform: rotate(50deg);
    width: 4px;
    height: 8px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    content: '';
}


