@charset "utf-8";

/* *{  */
    outline: 2px solid red;
}

body{
    background-color: #FDFCFA;
}

#header{
    height: 650px;
    background-image: url(../image/2x/main@2x-100.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
}

#header_p{
    height: 300px;
    width: 100%;
}

.header__inner{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 70px;
    position: absolute;
    top: 65px;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
}
.header__inner nav{
    width: 100%;
    max-width: 570px;
}
.header__inner nav ul{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.header__inner nav li{
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 16px;
    color: #2e1911;
    line-height: 1.5;
}

.header__inner span{
    font-size: 11px;
    color: #6d5e58;
}


.works_wrap{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 90px;
    align-items: center;
}

.works_title{
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.307em;    
    padding-left: 12px;
    color: #2e1911;
    border-left-width: 16px;
    border-left-style: solid;
    border-radius: 8px 8px 0 0;
}

.works_title span{
    font-size: 16px;
}


#fotter{
    width: 100%;
    height: 268px;
    background-image: url(../image/2x/fotter_haikei@2x.png);
    background-size: cover;
    position: relative;
}


.fotter_menu{
    margin: 0 auto;
    max-width: 564px;
    padding-top: 90px;
}

.fotter_menu ul{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.fotter_menu li{
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;   
}

.fotter_menu p{
    font-size: 10px;
    margin-top: 120px;
    text-align:center;
}

